
{{- /* Update applications */ -}}
{{- $update := "yay_update" -}}
{{- if eq .env.os "darwin" -}} {{- $update = "brew_update && mas upgrade" -}} {{- end -}}
{{- if has .env.distro (list "pop" "ubuntu") -}} {{- $update = "apt_update && brew_update" -}} {{- end -}}

#         _ _
#        | (_)
#    __ _| |_  __ _ ___  ___  ___
#   / _` | | |/ _` / __|/ _ \/ __|
#  | (_| | | | (_| \__ \  __/\__ \
#   \__,_|_|_|\__,_|___/\___||___/
#
#


# General
alias cat="bat --theme='Visual Studio Dark+'"
alias finder=yazi
alias ls="eza -l -a --icons=always"
alias upgrayedd={{ $update | quote }}

{{ if eq .env.os "darwin" -}}

# Python
alias python2=/usr/local/bin/python2.7

# Slack
alias slackfix="fix_obs_virtual_cam_in_slack"

{{- end }}

