#                          __ _ _      
#                         / _(_) |     
#     _____ __  _ __ ___ | |_ _| | ___ 
#    |_  / '_ \| '__/ _ \|  _| | |/ _ \
#   _ / /| |_) | | | (_) | | | | |  __/
#  (_)___| .__/|_|  \___/|_| |_|_|\___|
#        | |                           
#        |_|                           


# Additional paths
export PATH=$PATH:.
PATH="/usr/local/bin:$PATH"

# AWS SDK config
export AWS_SDK_LOAD_CONFIG=1

# Homebrew configuration
command -v brew >/dev/null && eval "$($(brew --prefix)/bin/brew shellenv)"

{{ if eq .env.os "darwin" -}}

# OrbStack: command-line tools and integration
source "$HOME/.orbstack/shell/init.zsh" 2>/dev/null || :

{{- end }}
