#    __                  _   _
#   / _|                | | (_)
#  | |_ _   _ _ __   ___| |_ _  ___  _ __  ___
#  |  _| | | | '_ \ / __| __| |/ _ \| '_ \/ __|
#  | | | |_| | | | | (__| |_| | (_) | | | \__ \
#  |_|  \__,_|_| |_|\___|\__|_|\___/|_| |_|___/
#
#


# Update apt packages
apt_update() {
  echo  "\nUpdating apt packages..."
  sudo apt update && sudo apt upgrade -y
  echo "Running cleaning up tasks..."
  sudo apt autoremove -y && sudo apt autoclean
}

# Update homebrew formulas/casks
brew_update() {
  echo "\nUpdating homebrew formulas/casks..."
  brew update && brew outdated
  brew upgrade
  echo "Running cleaning up tasks..."
  brew autoremove && brew cleanup
}

{{ if eq .env.os "darwin" -}}

# Fix for OBS virtual camera in Slack
fix_obs_virtual_cam_in_slack() {
  echo "\nApplying virtual camera fix for Slack..."
  sudo codesign --remove-signature "/Applications/Slack.app/"
  sudo codesign --remove-signature "/Applications/Slack.app/Contents/Frameworks/Slack Helper (Renderer).app"
  sudo codesign --remove-signature "/Applications/Slack.app/Contents/Frameworks/Slack Helper (GPU).app"
  sudo codesign --remove-signature "/Applications/Slack.app/Contents/Frameworks/Slack Helper (Plugin).app"
}

{{- end }}
