#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install applications and tools
# ---------------------------------------------------------------------------


{{/* Include external functions */}}
{{ template "install-brewfile.tmpl" . }}
{{ template "install-nodejs.tmpl" . }}
{{ template "install-python.tmpl" . }}
{{ template "install-rust.tmpl" . }}


#################### Main Program ####################

# Stop script on error
set -eo pipefail

# Setup environment
eval "$($(brew --prefix)/bin/brew shellenv)"

# Install dependencies
install_brewfile

# Install / update Node.js
install_nodejs

# Install / update Python
install_python

# Install Rust
install_rust
