#!/usr/bin/env bash

{{/* Include external functions */}}
{{ template "update-homebrew.tmpl" . }}

#################### Main Program ####################

# Stop script on error
set -eo pipefail

# Update Homebrew
update_homebrew
