{{- /* Required dependencies */ -}}
{{- $formula := list "curl" "git" "jq" "mas" "wget" -}}
{{- $casks := list "1password-cli" -}}


#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Initial machine setup
# ---------------------------------------------------------------------------

{{/* Include external functions */}}
{{ template "setup-1password.tmpl" . }}
{{ template "wezterm-definition.tmpl" . }}

#######################################
# Install Homebrew
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_homebrew() {
  echo "Installing Homebrew..."

  {{- if  eq .env.os "darwin" }}
  # Install dependencies
  command xcode-select -v >/dev/null || xcode-select --install
  {{- end }}

  SOURCE_REPO="https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh"
  {{ if ne .env.os "darwin" }}NONINTERACTIVE=1 {{ end }}/bin/bash -c "$(curl -fsSL "${SOURCE_REPO}")"

}

#######################################
# Post installation steps for Homebrew
# Globals:
#   None
# Arguments:
#   None
#######################################
function setup_homebrew() {
  echo "Running Homebrew post installation steps..."

  # Setup Homebrew in shell environment
  echo "Setup current environment..."
  eval "$($(brew --prefix)/bin/brew shellenv)"

  # Install required dependencies
  echo "Installing required dependencies..."
  brew install {{ $formula | sortAlpha | uniq | join " " }}
  brew install --cask {{ $casks | sortAlpha | uniq | join " " }}

}


#################### Main Program ####################

# Stop script on error
set -euo pipefail

# Install Homebrew
install_homebrew
setup_homebrew

# Setup 1Password
setup_1password

# WezTerm TERM definition
install_term_definition

