#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Update Homebrew and upgrade formula/casks
# ---------------------------------------------------------------------------


{{/* Include external functions */}}
{{ template "update-homebrew.tmpl" . }}


#################### Main Program ####################

# Stop script on error
set -eo pipefail

# Update Homebrew
update_homebrew
