{{- /* Taps to install */ -}}
{{- $taps := .packages.darwin.taps -}}

{{- /* Packages to install */ -}}
{{- $formula := (concat .packages.common.tools .packages.darwin.formula) | sortAlpha | uniq -}}
{{- $casks := (concat .packages.common.apps .packages.darwin.casks) | sortAlpha | uniq -}}


#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install applications and tools
# ---------------------------------------------------------------------------

{{/* Include external functions */}}
{{ template "install-rust.tmpl" . }}

#################### Main Program ####################

# Stop script on error
set -eo pipefail

# Setup environment
eval "$($(brew --prefix)/bin/brew shellenv)"

# Install packages
brew bundle --file=/dev/stdin <<EOF
# Taps
{{- range ( $taps | sortAlpha | uniq ) }}
tap "{{ . }}"
{{- end }}

# Formula
{{- range ( $formula | sortAlpha | uniq ) }}
brew "{{ . }}"
{{- end }}

# Casks
{{- range ( $casks | sortAlpha | uniq ) }}
cask "{{ . }}"
{{- end }}
EOF

# Install Rust
install_rust
