#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Apply VS Code settings and install extensions
# ---------------------------------------------------------------------------


{{/* Include external functions */}}
{{ template "vscode-extensions.tmpl" . }}
{{ template "vscode-settings.tmpl" . }}


#################### Main Program ####################

# Stop script on error
set -eo pipefail

# Apply VSCode settings
apply_settings {{ .chezmoi.homeDir }}/Library/Application\ Support/Code/User/

# Install VSCode extensions
install_extensions
