{{- /* Language runtimes */ -}}
{{ $runtimes := list "go" "node" "python" "rust" -}}

{{- /* Developer tools */ -}}
{{ $tools := list "bat" "eza" "fd" "fzf" "zoxide" -}}

#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install additional tools
# ---------------------------------------------------------------------------

#######################################
# Install developer tools
# Arguments:
#   tools: List of tools to install
#######################################
function install_devtools() {
    echo "Installing developer tools..."
    mise use -g {{ $tools | join " " }}
}

#######################################
# Install language runtimes
# Arguments:
#   langs: List of languages to install
#######################################
function install_runtimes() {
    echo "Installing language runtimes..."
    mise i {{ $runtimes | join " " }}
}

#######################################
# Install the tree-sitter CLI
#######################################
function install_treesitter() {
    echo "Installing tree-sitter CLI..."
    sudo apt install -y clang
    cargo install --locked tree-sitter-cli
}

#################### Main Program ####################

# Stop script on error
set -euo pipefail

# Rust configuration
if [ -f "$HOME/.cargo/env" ]; then
    source "$HOME/.cargo/env"
fi

# Install language runtimes
install_runtimes

# Install dev tools
install_devtools

# Install additional tools
install_treesitter
