{{- /* Default packages */ -}}
{{ $packages := list "curl" "fd-find" "git" "gpg" "jq" "ripgrep" "unzip" "wget" -}}

{{- $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}


#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install package dependencies
# ---------------------------------------------------------------------------

#######################################
# Install fish shell
#######################################
function install_fish() {
  echo "Installing fish shell..."

  echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/4/Debian_12/ /' \
    | sudo tee /etc/apt/sources.list.d/shells:fish:release:4.list

  curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:4/Debian_12/Release.key \
    | gpg --dearmor \
    | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_4.gpg > /dev/null

  sudo apt update
  sudo apt install -y fish
}

#######################################
# Install mise-en-place
#######################################
function install_mise() {
  echo "Installing mise-en-place..."
  curl https://mise.run | sh
}

#######################################
# Install neovim
#######################################
function install_neovim() {
  echo "Installing neovim..."
  local version=$1

  local arch=$(uname -m | sed 's/aarch64/arm64/')
  curl -fsSL "https://github.com/neovim/neovim/releases/download/${version}/nvim-linux-${arch}.tar.gz" \
    | {{ $sudo }}tar -xzf - -C /usr/local --strip-components=1
}

#######################################
# Install rust
#######################################
function install_rust() {
  echo "Installing rust..."

  # Install rustup and stable toolchain
  local rustup_url="https://sh.rustup.rs"
  curl --proto '=https' --tlsv1.2 -sSf "${rustup_url}" | sh -s -- -y
  source "$HOME/.cargo/env"
  rustup install stable

  # Install binary install
  local binstall_url="https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh"
  curl -L --proto '=https' --tlsv1.2 -sSf "${binstall_url}" | bash
}

#################### Main Program ####################

# Stop script on error
set -euo pipefail

# Install packages
{{ $sudo }}apt update
{{ $sudo }}apt install -y {{ $packages | join " " }}

# Install fish
install_fish

# Install neovim
install_neovim "nightly"

# Install rust
install_rust

# Install tool manager
install_mise
