--[[
Core LazyVim options
--]]

-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here

--[[
  Global variables
]]--

-- Set leader key
vim.g.mapleader = " "
vim.g.maplocalleader = "\\"

-- System clipboard provider
{{- if .env.wsl -}}
vim.g.clipboard = {
  name = 'WSL Clipboard',
  copy = {
    ['+'] = 'wl-copy --foreground --type text/plain',
    ['*'] = 'wl-copy --foreground --primary -- type text/plain'
  },
  paste = {
    ['+'] = (function() return vim.fn.systemlist('wl-paste --no-newline | sed -e "s/\r$//"', {''}, 1) end),
    ['*'] = (function() return vim.fn.systemlist('wl-paste --primary --no-newline | sed -e "s/\r$//"', {''}, 1) end),
  },
  cache_enabled = true,
}
{{- else -}}
vim.g.clipboard += unnamedplus
{{- end }}


--[[
  Local options
]]--

local opt = vim.opt

-- Code folding options
opt.foldlevel = 99
opt.foldlevelstart = 99
opt.foldenable = true

-- Formatter options
opt.formatexpr = "v:lua.require'conform'.formatexpr()"


--[[
  File types
]]--

vim.filetype.add({
  extension = {
    conf = "conf",
    env = "dotenv",
  },
  filename = {
    [".env"] = "dotenv",
  },
  pattern = {
    ["%.env%.[%w_.-]+"] = "dotenv",
  }
})
