#######################################
# Install Python and global dependencies
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_python() {
  local current
  local desired

  # Check if pyenv is installed
  command -v pyenv >/dev/null || return 0
  eval "$(pyenv init -)"

  current=$(pyenv global)
  desired={{ .python.version }}

  echo "Checking Python version..."
  echo "Current: $current, Desired: $desired"

  if [[ "$current" == "$desired" ]]; then
    return 0
  fi

  echo "Installing python $desired..."
  pyenv install -v "$desired"
  pyenv global "$desired"

  echo "Installing global dependencies..."
  pyenv shell "$desired"
  pip install --upgrade pip
  {{ .python.installer }} {{ .python.globals | join " " }}

  echo "Installing poetry..."
  curl -sSL https://install.python-poetry.org | python3 -

}
