#######################################
# Install mise-en-place
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_mise() {
    echo "Installing mise-en-place..."
    curl https://mise.run | MISE_INSTALL_SKIP_IF_EXISTS=1 sh
}
