#######################################
# Install mise-en-place
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_mise() {
  echo "Installing mise-en-place..."
  curl https://mise.run | sh
}
