#######################################
# Setup 1Password
# Globals:
#   None
# Arguments:
#   None
#######################################
function setup_1password() {
  # Add account & sign in
  echo "Signing in to 1Password..."
  eval $(op account add --address {{ .personal.onepassword.url }} --email {{ .personal.email }} --signin)
  eval $(op account add --address {{ .spindance.onepassword.url }} --email {{ .spindance.email }} --signin)
}
