#######################################
# Setup 1Password
# Globals:
#   None
# Arguments:
#   None
#######################################
function setup_1password() {
  echo "Signing in to 1Password..."

  # Add personal account and sign in
  personal=$(op account ls | grep "{{ .personal.email }}" | awk '{print $1}')
  if [ -z "$personal" ]; then
    eval $(op account add --address {{ .personal.onepassword.url }} --email {{ .personal.email }} --signin)
  fi

  # Add work account and sign in
  work=$(op account ls | grep "{{ .mhs.email }}" | awk '{print $1}')
  if [ -z "$work" ]; then
    eval $(op account add --address {{ .mhs.onepassword.url }} --email {{ .mhs.email }} --signin)
  fi

}
