#######################################
# Setup 1Password
# Globals:
#   None
# Arguments:
#   None
#######################################
function setup_1password() {
  # Add account & sign in
  echo "Signing in to 1Password..."
  eval $(op account add --address {{ .onepassword.address }} --email {{ .onepassword.email }} --signin)
}
