#######################################
# Copy VSCode settings
# Globals:
#   None
# Arguments:
#   destination: The destination path to copy the settings to.
#######################################
function apply_settings() {
  local destination=$1

  echo "Applying VSCode configuration..."
  if [[ ! -d "$destination" ]]; then mkdir -p "$destination"; fi
  cp -a {{ .chezmoi.homeDir }}/.config/vscode/. "$destination"
  
}
