//   ______     _ _ _ _
//  |___  /    | | (_|_)
//     / /  ___| | |_ _
//    / /  / _ \ | | | |
//  ./ /__|  __/ | | | |
//  \_____/\___|_|_|_| |
//                  _/ |
//                 |__/


// General
default_shell "zsh"
pane_frames false

// Layouts
default_layout "neovim"

// Themes
theme "tokyonight"

// UI
ui {
  pane_frames {
    hide_session_name true
  }
}

// Keybindings
keybinds clear-defaults=true {
  normal {
    bind "Ctrl p" { SwitchToMode "pane"; }
    bind "Ctrl t" { SwitchToMode "tab"; }
  }
  pane {
    bind "Ctrl p" { SwitchToMode "normal"; }
    bind "h" "Left" { MoveFocus "Left"; SwitchToMode "normal"; }
    bind "j" "Down" { MoveFocus "Down"; SwitchToMode "normal"; }
    bind "k" "Up" { MoveFocus "Up";  SwitchToMode "normal";}
    bind "l" "Right" { MoveFocus "Right"; SwitchToMode "normal"; }
    bind "p" { SwitchFocus; }
  }
  session {
    bind "Ctrl o" { SwitchToMode "normal"; }
    bind "Ctrl s" { SwitchToMode "scroll"; }
    bind "d" { Detach; }
    bind "w" {
      LaunchOrFocusPlugin "zellij:session-manager" { floating true; move_to_focused_tab true; };
      SwitchToMode "Normal"
    }
  }
  tab {
    bind "Ctrl t" { SwitchToMode "normal"; }
    bind "h Left" { GoToPreviousTab; }
    bind "l Right" { GoToNextTab; }
    bind "n" { NewTab { layout "terminal"; }; }
    bind "d" { CloseTab; }
    bind "t" { ToggleTab; }
  }
  tmux {
      bind "[" { SwitchToMode "scroll"; }
      bind "Ctrl b" { Write 2; SwitchToMode "normal"; }
      bind "\"" { NewPane "Down"; SwitchToMode "normal"; }
      bind "%" { NewPane "Right"; SwitchToMode "normal"; }
      bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
      bind "c" { NewTab; SwitchToMode "normal"; }
      bind "," { SwitchToMode "RenameTab"; }
      bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
      bind "n" { GoToNextTab; SwitchToMode "normal"; }
      bind "Left" { MoveFocus "Left"; SwitchToMode "normal"; }
      bind "Right" { MoveFocus "Right"; SwitchToMode "normal"; }
      bind "Down" { MoveFocus "Down"; SwitchToMode "normal"; }
      bind "Up" { MoveFocus "Up"; SwitchToMode "normal"; }
      bind "h" { MoveFocus "Left"; SwitchToMode "normal"; }
      bind "l" { MoveFocus "Right"; SwitchToMode "normal"; }
      bind "j" { MoveFocus "Down"; SwitchToMode "normal"; }
      bind "k" { MoveFocus "Up"; SwitchToMode "normal"; }
      bind "o" { FocusNextPane; }
      bind "d" { Detach; }
      bind "Space" { NextSwapLayout; }
      bind "x" { CloseFocus; SwitchToMode "normal"; }
  }
  shared {
    bind "Ctrl q" { Quit; }
  }
  shared_except "normal" "locked" {
    bind "Esc" { SwitchToMode "normal"; }
  }
  shared_except "session" "locked" {
    bind "Ctrl o" { SwitchToMode "session"; }
  }
  shared_except "tmux" "locked" {
    bind "Ctrl b" { SwitchToMode "tmux"; }
  }
}

// Plugins
plugins {
  compact-bar { path "compact-bar"; }
  session-manager { path "session-manager"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  tab-bar { path "tab-bar"; }
}
