// ────────────── Input Configuration ──────────────
// https://github.com/niri-wm/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    {{- if ne .chezmoi.hostname "deep-thought" }}
    touchpad {
        natural-scroll
        click-method "clickfinger"
    }
    {{- end }}

    focus-follows-mouse
}
