// ────────────── Layout ──────────────
// https://github.com/niri-wm/niri/wiki/Configuration:-Layout

layout {
    gaps 6 // Gap between windows

    center-focused-column "never" // Don't auto-center focused column

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring { width 2; }

    struts {}

    background-color "transparent" // <- needed for noctalia to set wallpaper
}
