// ────────────── Rules ──────────────

// Window Rules
// https://github.com/niri-wm/niri/wiki/Configuration:-Window-Rules

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

// Layer Rules
// https://github.com/niri-wm/niri/wiki/Configuration:-Layer-Rules

layer-rule {
   match namespace="^noctalia-wallpaper*"
   place-within-backdrop true
}
