
{{- /* Initialize general info */ -}}
{{- $personal := "michaelolson84@gmail.com" -}}
{{- $work := "michael.olson@mutuallyhuman.com" -}}

{{- /* Linux distribution */ -}}
{{- $distro := "" -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-   $distro = .chezmoi.osRelease.idLike -}}
{{- end -}}

{{- /* Check if running in WSL */ -}}
{{- $wsl := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

{{- /* Check using Homebrew as package manager */ -}}
{{- $homebrew := eq .chezmoi.os "darwin" -}}

{{- /* Detect GitHub codespaces, VSCode remote containers and Docker containers */ -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $devcontainer := env "REMOTE_CONTAINERS" | not | not -}}

{{- /* Default apps */ -}}
{{- $browser := "zen-browser" -}}
{{- $editor := "nvim" -}}
{{- $terminal := "ghostty" -}}

{{- /* User information */ -}}
{{- $name :=  default "Michael Olson" (env "USER_NAME") -}}
{{- $email := default $personal (env "USER_EMAIL") -}}
{{- if hasKey . "name" -}} {{- $name = .name -}} {{- end -}}
{{- if hasKey . "email" -}} {{- $email = .email -}} {{- end -}}

{{- if stdinIsATTY -}}
{{-   $name = promptStringOnce . "name" "Name for GitHub user" $name -}}
{{-   $email = promptStringOnce . "email" "E-mail for GitHub user" $email -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}


#        _                              _
#       | |                            (_)
#    ___| |__   ___ _____ __ ___   ___  _
#   / __| '_ \ / _ \_  / '_ ` _ \ / _ \| |
#  | (__| | | |  __// /| | | | | | (_) | |
#   \___|_| |_|\___/___|_| |_| |_|\___/|_|
#
#


sourceDir = {{ .chezmoi.sourceDir | quote }}
encryption = "gpg"

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
work = {{ eq $email $work }}

[data.default]
browser = {{ $browser | quote }}
editor = {{ $editor | quote }}
terminal = {{ $terminal | quote }}

[data.env]
os = {{ .chezmoi.os | quote }}
distro = {{ $distro | quote }}
codespaces = {{ $codespaces }}
devcontainer = {{ $devcontainer }}
ephemeral = {{ or $codespaces $devcontainer }}
homebrew = {{ $homebrew }}
wsl = {{ $wsl }}

[data.mhs]
email = {{ $work | quote }}
onepassword = { account = "UFHA2NBMT5GCDNLTAOJJCQZ3IM", url = "mutuallyhuman.1password.com" }

[data.personal]
email = {{ $personal | quote }}
onepassword = { account = "QBDDA7S63NEQHDH4VKB6E3SC6I", url = "my.1password.com" }

[edit]
command = {{ $editor | quote }}
minDuration = 0

[gpg]
symmetric = true

[onepassword]
prompt = {{ not (or $codespaces $devcontainer) }}
