# Neovim
.config/nvim/lazyvim.json
.config/nvim/lazy-lock.json

# Oh-My-Zsh
.oh-my-zsh/cache/**

# System files
**/.DS_Store

{{- /* MacOS specific configuration */ -}}
{{ if ne .env.os "darwin" }}
.chezmoiscripts/darwin/**
.1password
.config/aerospace
{{ end }}

{{- /* Linux specific configuration */ -}}
{{ if ne .env.os "linux" }}
.local/share/fonts
{{ end }}
{{ if ne .env.distro "arch" }}
.chezmoiscripts/arch/**
.config/hypr
.config/rofi
.config/waybar
{{ end }}
{{ if not ( has .env.distro ( list "pop" "ubuntu" ) ) }}
.chezmoiscripts/ubuntu/**
{{ end }}

{{- /* Windows specific configuration */ -}}
{{ if ne .env.os "windows" }}
.chezmoiscripts/windows/**
.config/powershell
.config/winget
.config/wt
AppData
Documents
{{ else }}
.aws
.bash_aliases
.config/git/cookies
.oh-my-zsh
.oh-my-zsh/**
.zprofile
.zshrc
{{ end }}

{{ if .env.ephemeral -}}
.aws
.ssh
{{ end }}
