
{{- /* Initialize general info */ -}}
{{- $personal := "michaelolson84@gmail.com" -}}
{{- $spindance := "michael.olson@spindance.com" -}}

{{- /* Linux distrobution */ -}}
{{- $distro := "" -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $distro = .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* Check if running in WSL */ -}}
{{- $wsl := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

{{- /* Check using Homebrew as package manager */ -}}
{{- $homebrew := or (eq .chezmoi.os "darwin") (has $distro (list "pop" "ubuntu")) -}}

{{- /* Detect GitHub codespaces, VSCode remote containers and Docker containers */ -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $devcontainer := env "REMOTE_CONTAINERS" | not | not -}}

{{- /* User information */ -}}
{{- $name :=  default "Michael Olson" (env "USER_NAME") -}}
{{- $email := default $spindance (env "USER_EMAIL") -}}
{{- if hasKey . "name" -}} {{- $name = .name -}} {{- end -}}
{{- if hasKey . "email" -}} {{- $email = .email -}} {{- end -}}

{{- if stdinIsATTY -}}
{{-   $name = promptStringOnce . "name" "Name for GitHub user" $name -}}
{{-   $email = promptStringOnce . "email" "E-mail for GitHub user" $email -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

{{- /* Editor */ -}}
{{- $editor := "nvim" -}}
{{- if eq .chezmoi.os "windows" -}} {{- $editor = "code" -}} {{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
encryption = "gpg"

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
work = {{ eq $email $spindance }}

[data.env]
os = {{ .chezmoi.os | quote }}
wsl = {{ $wsl }}
distro = {{ $distro | quote }}
codespaces = {{ $codespaces }}
devcontainer = {{ $devcontainer }}
ephemeral = {{ or $codespaces $devcontainer }}
homebrew = {{ $homebrew }}

[data.personal]
email = {{ $personal | quote }}
onepassword = { account = "QBDDA7S63NEQHDH4VKB6E3SC6I", url = "my.1password.com" }

[data.spindance]
email = {{ $spindance| quote }}
onepassword = { account = "LJECLVN5XRBDLE2QRE7B5RFJHM", url = "spindance.1password.com" }

[edit]
command = {{ $editor | quote }}
minDuration = 0

[gpg]
symmetric = true

[onepassword]
prompt = {{ not (or $codespaces $devcontainer) }}
