# Oh-My-Zsh
.oh-my-zsh/cache/**

{{- /* Linux specific configuration */ -}}
{{ if ne .env.distro "arch" }}
.chezmoiscripts/arch/**
.config/niri
.config/noctalia
{{ end }}
{{ if not ( has .env.distro ( list "debian" "ubuntu" ) ) }}
.chezmoiscripts/debian/**
{{ end }}

{{- /* Devcontainer specific configuration */ -}}
{{ if .env.ephemeral -}}
.aws
{{ end }}
