# Oh-My-Zsh
.oh-my-zsh/cache/**

# System files
**/.DS_Store

{{- /* MacOS specific configuration */ -}}
{{ if ne .env.os "darwin" }}
.chezmoiscripts/darwin/**
.1password
.config/aerospace
{{ end }}

{{- /* Linux specific configuration */ -}}
{{ if ne .env.distro "arch" }}
.chezmoiscripts/arch/**
{{ end }}
{{ if ne .env.distro "debian" }}
.chezmoiscripts/debian/**
{{ end }}

{{- /* Devcontainer specific configuration */ -}}
{{ if .env.ephemeral -}}
.aws
{{ end }}
