#######################################
# Concatenate files and print on the standard output
#######################################
function cat --description "Concatenate files and print on the standard output"
    bat $argv
end
