{{- /* Update applications */ -}}
{{- $update := "_yay_update && _tool_update" -}}
{{- if eq .env.os "darwin" -}} {{- $update = "_brew_update && mas upgrade" -}} {{- end -}}
{{- if has .env.distro (list "ubuntu") -}} {{- $update = "_apt_update" -}} {{- end -}}

#######################################
# Update all installed packages
#######################################
function upgrayedd --description "Update all installed packages"
   {{ $update }}
end

#######################################
# Update all apt packages
#######################################
function _apt_update --description "Update all installed apt packages"
    echo "Updating apt packages..."
    sudo apt update && sudo apt upgrade -y
    echo "Running cleaning up tasks..."
    sudo apt autoremove -y && sudo apt autoclean
end

#######################################
# Update Homebrew formulas/casks
#######################################
function _brew_update --description "Update all installed homebrew formula/casks"
    echo "Updating homebrew formulas/casks..."
    brew update && brew outdated
    brew upgrade
    echo "Running cleaning up tasks..."
    brew autoremove && brew cleanup
end

#######################################
# Update developer tools
#######################################
function _tool_update --description "Update developer tools"
    echo "Updating mise-en-place..."
    mise self-update -y && mise up
    echo "Updating neovim..."
    bob update --all
end

#######################################
# Update all yay packages
#######################################
function _yay_update --description "Update all installed yay packages"
    echo "Updating yay packages..."
    yay -Syu --noconfirm
    echo "Running cleaning up tasks..."
    yay -Yc
end
