
{{- /* Defaults */ -}}
{{- $shell := "fish" -}}

{{- /* Source directory */ -}}
{{- $source := "/usr/bin" -}}
{{- if eq .env.os "darwin" -}}
{{-   $source = "/opt/homebrew/bin" -}}
{{- end -}}

{{- /* Font settings */ -}}
{{- $font_family := "JetBrains Mono" -}}
{{- $font_style := "SemiBold" -}}
{{- $font_size := 9 -}}
{{- if eq .env.os "darwin" -}}
{{-   $font_style = "Medium" -}}
{{-   $font_size = 12 -}}
{{- end -}}


#   _____ _               _   _
#  |  __ \ |             | | | |
#  | |  \/ |__   ___  ___| |_| |_ _   _
#  | | __| '_ \ / _ \/ __| __| __| | | |
#  | |_\ \ | | | (_) \__ \ |_| |_| |_| |
#   \____/_| |_|\___/|___/\__|\__|\__, |
#                                  __/ |
#                                 |___/


# General
confirm-close-surface = false
resize-overlay = never
copy-on-select = true

# Shell
command = {{ $source }}/{{ $shell }}
shell-integration = {{ $shell }}
shell-integration-features = no-cursor

# Theme
theme = tokyo-night

# Font
font-family = {{ $font_family }}
font-style = {{ $font_style }}
font-size = {{ $font_size }}
bold-is-bright = true

# Cursor
cursor-style = block
cursor-style-blink = false

# Window
window-height = 40
window-width = 120
window-padding-balance = true
window-padding-color = extend
window-padding-x = 4
window-padding-y = 4

{{- /* Linux specific */ -}}
{{- if eq .env.os "linux" }}

# Linux
adw-toolbar-style = flat
gtk-tabs-location = bottom
window-decoration = none

{{- end }}

{{- /* MacOS specific */ -}}
{{- if eq .env.os "darwin" }}

# MacOS
macos-option-as-alt = true
macos-titlebar-proxy-icon = hidden
macos-titlebar-style = tabs
maximize = true
quit-after-last-window-closed = true
window-colorspace = display-p3

{{- end }}

# Imports
config-file = ./keymaps

