#                           __              __ _
#                          / /             / _(_)
#     __ ___      _____   / /__ ___  _ __ | |_ _  __ _
#    / _` \ \ /\ / / __| / / __/ _ \| '_ \|  _| |/ _` |
#   | (_| |\ V  V /\__ \/ / (_| (_) | | | | | | | (_| |
#  (_)__,_| \_/\_/ |___/_/ \___\___/|_| |_|_| |_|\__, |
#                                                 __/ |
#                                                |___/


# ========================================
# Gentex
# ========================================

{{ onepasswordRead "op://Work/AWS/configuration" .personal.onepassword.account }}


# ========================================
# Personal
# ========================================

{{ onepasswordRead "op://Personal/AWS/configuration" .personal.onepassword.account }}
