#                           __              __ _
#                          / /             / _(_)
#     __ ___      _____   / /__ ___  _ __ | |_ _  __ _
#    / _` \ \ /\ / / __| / / __/ _ \| '_ \|  _| |/ _` |
#   | (_| |\ V  V /\__ \/ / (_| (_) | | | | | | | (_| |
#  (_)__,_| \_/\_/ |___/_/ \___\___/|_| |_|_| |_|\__, |
#                                                 __/ |
#                                                |___/


{{ onepasswordRead "op://Employee/Default/configuration" .mhs.onepassword.account }}


# ========================================
# CodeBlue
# ========================================

{{ onepasswordRead "op://Employee/CodeBlue/configuration" .mhs.onepassword.account }}


# ========================================
# GLOS
# ========================================

{{ onepasswordRead "op://Employee/GLOS/configuration" .mhs.onepassword.account }}


# ========================================
# Hamilton Beach Brands
# ========================================

{{ onepasswordRead "op://Employee/HBB/configuration" .mhs.onepassword.account }}


# ========================================
# Mutually Human
# ========================================

{{ onepasswordRead "op://Employee/Mutually Human/configuration" .mhs.onepassword.account }}


# ========================================
# ODL
# ========================================

{{ onepasswordRead "op://Employee/ODL/configuration" .mhs.onepassword.account }}


# ========================================
# Personal
# ========================================

{{ onepasswordRead "op://Personal/AWS/configuration" .personal.onepassword.account }}


# ========================================
# SpinDance
# ========================================

{{ onepasswordRead "op://Employee/vr5rxtft4ffvn7pnkfmu6j2acy/configuration" .mhs.onepassword.account }}
