
{{- /* Tap repositories */ -}}
{{- $taps := list
  "homebrew/bundle"
  "homebrew/cask-versions"
-}}
{{- if eq .env.os "darwin" -}}
{{- $taps = concat $taps ( list
  "homebrew/cask-fonts"
  "microsoft/git"
  "teamookla/speedtest" )
-}}
{{- end -}}

{{- /* Formula to install */ -}}
{{- $formula := list
  "bash"
  "bash-completion@2"
  "bob"
  "btop"
  "chezmoi"
  "cmake"
  "commitizen"
  "delve"
  "dotenv-linter"
  "fd"
  "git"
  "glow"
  "helm"
  "hurl"
  "jq"
  "kubernetes-cli"
  "lazygit"
  "mise"
  "openssl"
  "pandoc"
  "pre-commit"
  "ripgrep"
  "rustup-init"
  "rust-analyzer"
  "shfmt"
  "slides"
  "starship"
  "tidy-html5"
  "tree"
  "uv"
  "zellij"
 -}}
{{- if eq .env.os "darwin" -}}
{{- $formula = concat $formula ( list
  "awscli"
  "aws-cdk"
  "aws-sam-cli"
  "bash"
  "blueutil"
  "curl"
  "eksctl"
  "fzf"
  "gnupg"
  "gnu-sed"
  "mas"
  "mosquitto"
  "readline"
  "redis"
  "sqlite3"
  "switchaudio-osx"
  "tcl-tk"
  "teamookla/speedtest/speedtest"
  "terraform"
  "wget"
  "zlib"
  "zsh" )
-}}
{{- end -}}
{{- if eq .env.os "linux" -}}
{{- $formula = concat $formula ( list
  "gcc"
  "pass"
  "xclip" )
-}}
{{- end -}}

{{- /* Casks to install */ -}}
{{- $casks := list -}}
{{- if eq .env.os "darwin" -}}
{{- $casks = concat $casks ( list
  "1password"
  "1password-cli"
  "alfred"
  "arc"
  "bartender"
  "cleanmymac"
  "datagrip"
  "devpod"
  "duet"
  "elgato-camera-hub"
  "focusrite-control"
  "font-jetbrains-mono"
  "font-jetbrains-mono-nerd-font"
  "font-symbols-only-nerd-font"
  "git-credential-manager"
  "google-chrome"
  "google-drive"
  "httpie"
  "karabiner-elements"
  "keymapp"
  "logi-options-plus"
  "microsoft-excel"
  "microsoft-outlook"
  "microsoft-teams"
  "microsoft-word"
  "obs"
  "orbstack"
  "parallels"
  "pocket-casts"
  "rectangle-pro"
  "session-manager-plugin"
  "shottr"
  "slack"
  "spotify"
  "tg-pro"
  "tidal"
  "visual-studio-code"
  "vlc"
  "wezterm"
  "zoom" )
-}}
{{- end -}}


#    ______                    __ _ _
#    | ___ \                  / _(_) |
#    | |_/ /_ __ _____      _| |_ _| | ___
#    | ___ \ '__/ _ \ \ /\ / /  _| | |/ _ \
#   _| |_/ / | |  __/\ V  V /| | | | |  __/
#  (_)____/|_|  \___| \_/\_/ |_| |_|_|\___|
#
#

{{- /* Taps */ -}}
{{- range ( $taps | sortAlpha | uniq ) }}
tap "{{ . }}"
{{- end }}

{{- /* Formula */ -}}
{{- range ( $formula | sortAlpha | uniq ) }}
brew "{{ . }}"
{{- end }}

{{- /* Casks */ -}}
{{- range ( $casks | sortAlpha | uniq ) }}
cask "{{ . }}"
{{- end }}

{{- /* MacOS App Store */ -}}
{{ if eq .env.os "darwin" }}
mas "Essentials", id: 1588151344
mas "Harvest", id: 506189836
mas "1Password for Safari", id: 1569813296
{{ end -}}
