
{{- /* Tap repositories */ -}}
{{- $taps := list
  "homebrew/bundle"
  "jannis-baum/tap"
  "leoafarias/fvm"
-}}
{{- if eq .env.os "darwin" -}}
{{- $taps = concat $taps ( list
  "homebrew/cask-fonts"
  "microsoft/git"
  "nikitabobko/tap"
  "teamookla/speedtest" )
-}}
{{- end -}}

{{- /* Formula to install */ -}}
{{- $formula := list
  "act"
  "awscli"
  "aws-cdk"
  "bat"
  "bash"
  "bash-completion@2"
  "bob"
  "btop"
  "buf"
  "chezmoi"
  "cmake"
  "curl"
  "delve"
  "dotenv-linter"
  "dotnet"
  "eza"
  "fd"
  "fzf"
  "fvm"
  "git"
  "glow"
  "helm"
  "hurl"
  "imagemagick"
  "jq"
  "just"
  "kubernetes-cli"
  "lazydocker"
  "lazygit"
  "mise"
  "openssl"
  "pre-commit"
  "ripgrep"
  "rustup"
  "rye"
  "shfmt"
  "slides"
  "sqlc"
  "starship"
  "tidy-html5"
  "tmux"
  "tree"
  "tree-sitter"
  "uv"
  "wget"
  "yazi"
  "zellij"
  "zoxide"
 -}}
{{- if eq .env.os "darwin" -}}
{{- $formula = concat $formula ( list
  "blueutil"
  "gnupg"
  "gnu-sed"
  "mas"
  "mosquitto"
  "readline"
  "redis"
  "speedtest"
  "sqlite3"
  "switchaudio-osx"
  "tailwindcss"
  "tcl-tk"
  "zlib"
  "zsh" )
-}}
{{- end -}}
{{- if eq .env.os "linux" -}}
{{- $formula = concat $formula ( list
  "gcc"
  "pass"
  "xclip" )
-}}
{{- end -}}

{{- /* Casks to install */ -}}
{{- $casks := list -}}
{{- if eq .env.os "darwin" -}}
{{- $casks = concat $casks ( list
  "1password"
  "1password-cli"
  "aerospace"
  "arc"
  "bartender"
  "devpod"
  "elgato-camera-hub"
  "flutter"
  "font-jetbrains-mono"
  "font-jetbrains-mono-nerd-font"
  "font-symbols-only-nerd-font"
  "ghostty"
  "git-credential-manager"
  "google-chrome"
  "httpie"
  "karabiner-elements"
  "microsoft-excel"
  "microsoft-outlook"
  "microsoft-teams"
  "microsoft-word"
  "obs"
  "orbstack"
  "pocket-casts"
  "raycast"
  "session-manager-plugin"
  "shottr"
  "slack"
  "spotify"
  "tableplus"
  "thunderbird@esr"
  "vlc"
  "wezterm"
  "zed"
  "zen-browser"
  "zoom" )
-}}
{{- end -}}


#    ______                    __ _ _
#    | ___ \                  / _(_) |
#    | |_/ /_ __ _____      _| |_ _| | ___
#    | ___ \ '__/ _ \ \ /\ / /  _| | |/ _ \
#   _| |_/ / | |  __/\ V  V /| | | | |  __/
#  (_)____/|_|  \___| \_/\_/ |_| |_|_|\___|
#
#

{{- /* Taps */ -}}
{{- range ( $taps | sortAlpha | uniq ) }}
tap "{{ . }}"
{{- end }}

{{- /* Formula */ -}}
{{- range ( $formula | sortAlpha | uniq ) }}
brew "{{ . }}"
{{- end }}

{{- /* Casks */ -}}
{{- range ( $casks | sortAlpha | uniq ) }}
cask "{{ . }}"
{{- end }}

{{- /* MacOS App Store */ -}}
{{ if eq .env.os "darwin" }}
mas "Harvest", id: 506189836
mas "1Password for Safari", id: 1569813296
{{ end -}}
