themes {
  campbell {
    fg "#CCCCCC"
    bg "#0C0C0C"
    black "#0C0C0C"
    red "#C50F1F"
    green "#13A10E"
    yellow "#C19C00"
    blue "#0037DA"
    magenta "#881798"
    cyan "#3A96DD"
    white "#CCCCCC"
    orange "#D06F1F"
  }
}
