// Dracula
themes {
  dracula {
    fg "#F8F8F2"
    bg "#282A36"
    black "#000000"
    red "#FF5555"
    green "#50FA7B"
    yellow "#F1FA8C"
    blue "#8BE9FD"
    magenta "#BD93F9"
    cyan "#8BE9FD"
    white "#F8F8F2"
    orange "#FFB86C"
  }
}
