// iTerm2 (macOS)
themes {
  iterm {
    fg "#C7C7C7"
    bg "#0C0C0C"
    black "#000000"
    red "#C91B00"
    green "#00C200"
    yellow "#C7C700"
    blue "#0D73CC"
    magenta "#C930C7"
    cyan "#00C5C7"
    white "#C7C7C7"
    orange "#D06F1F"
  }
}
