themes {
  onedark {
    fg "#DCDFE4"
    bg "#282C34"
    black "#1B1D22"
    red "#E33F4C"
    green "#98C679"
    yellow "#E9C07B"
    blue "#61AFEF"
    magenta "#C678DD"
    cyan "#56B6C2"
    white "#E9E1FE"
    orange "#D8854C"
  }
}
