themes {
  tokyonight-day{
    fg "#3760BF"
    bg "#C4C8DA"
    black "#E9E9ED"
    red "#F52A65"
    green "#587539"
    yellow "#8C6C3E"
    blue "#2E7DE9"
    magenta "#9854F1"
    cyan "#007197"
    white "#6172b0"
    orange "#B15C00"
  }

  tokyonight-moon {
    fg "#C8D3F5"
    bg "#2F334D"
    black "#1B1D2B"
    red "#FF757F"
    green "#C3E88D"
    yellow "#FFC777"
    blue "#82AAFF"
    magenta "#C099FF"
    cyan "#86E1FC"
    white "#828BB8"
    orange "#FF966C"
  }

  tokyonight-night {
    fg "#C0CAF5"
    bg "#292E42"
    black "#15161E"
    red "#F7768E"
    green "#9ECE6A"
    yellow "#E0AF68"
    blue "#7AA2F7"
    magenta "#BB9AF7"
    cyan "#7DCFFF"
    white "#A9B1D6"
    orange "#FF9E64"
  }

  tokyonight-storm {
    fg "#C0CAF5"
    bg "#292E42"
    black "#1D202F"
    red "#F7768E"
    green "#9ECE6A"
    yellow "#E0AF68"
    blue "#7AA2F7"
    magenta "#BB9AF7"
    cyan "#7DCFFF"
    white "#A9B1D6"
    orange "#FF9E64"
  }
}
