themes {
  vscode {
    fg "#D4D4D4"
 	  bg "#1E1E1E"
 	  black "#252526"
 	  red "#D16969"
 	  green "#6A9955"
 	  yellow "#D7BA7D"
 	  blue "#2AAAFF"
 	  magenta "#AE81FF"
 	  cyan "#4EC9B0"
 	  white "#FFFFFF"
 	  orange "#F9AE28"
  }
}
