
{{- define "archive" -}}
type = "archive"
stripComponents = 1
refreshPeriod = "168h"
exact = true
{{- end -}}


[".oh-my-zsh"]
{{ template "archive" }}
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
{{ template "archive" }}
url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/zsh-autocomplete"]
{{ template "archive" }}
url = "https://github.com/marlonrichert/zsh-autocomplete/archive/23.07.13.tar.gz"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
{{ template "archive" }}
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/zsh-completions"]
{{ template "archive" }}
url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
{{ template "archive" }}
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
