
{{- define "file" -}}
type = "file"
stripComponents = 1
refreshPeriod = "168h"
exact = true
{{- end -}}


[".config/zellij/plugins/zjframes.wasm"]
{{ template "file" }}
url = "https://github.com/dj95/zjstatus/releases/download/v0.19.1/zjframes.wasm"

[".config/zellij/plugins/zjstatus.wasm"]
{{ template "file" }}
url = "https://github.com/dj95/zjstatus/releases/download/v0.19.1/zjstatus.wasm"
