
{{- /* Font settings */ -}}
{{- $family := "JetBrainsMono Nerd Font" -}}
{{- $size := 9.0 -}}
{{- if eq .env.os "darwin" -}}{{- $size = "12.0" -}}{{- end -}}

#    ___  _                 _ _   _
#   / _ \| |               (_) | | |
#  / /_\ \ | __ _  ___ _ __ _| |_| |_ _   _
#  |  _  | |/ _` |/ __| '__| | __| __| | | |
#  | | | | | (_| | (__| |  | | |_| |_| |_| |
#  \_| |_/_|\__,_|\___|_|  |_|\__|\__|\__, |
#                                      __/ |
#                                     |___/


import = [ '~/.config/alacritty/appearance.toml', '~/.config/alacritty/keymaps.toml' ]
{{- if eq .env.os "windows" }}
shell = { program = 'wsl', args = [ '~' ] }
{{- end }}

[env]
TERM = "alacritty"

[font]
normal = { family = '{{ $family }}', style = 'Regular' }
size = {{ $size }}
