{{- /* Default packages */ -}}
{{ $packages := list "curl" "fzf" "gnupg" "unzip" "wget" "zsh" -}}

{{- /* Additional packages */ -}}
{{- if .env.wsl -}}
{{-   $packages = concat $packages ( list "wl-clipboard" ) -}}
{{- end -}}
{{- if not .env.ephemeral -}}
{{-   $packages = concat $packages ( list "htop" ) -}}
{{- end -}}

{{- $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install package dependencies
# ---------------------------------------------------------------------------


#################### Main Program ####################

# Stop script on error
set -euo pipefail

# Install packages
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}
