#!/usr/bin/env bash

{{/* Include external functions */}}
{{ template "vscode-settings" . }}

#################### Main Program ####################

# Stop script on error
set -eo pipefail

{{ if not (or .env.wsl .env.ephemeral) -}}

# Apply VSCode settings
apply_settings {{ .chezmoi.homeDir }}/.config/Code/User/

{{- end }}
