#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Apply VS Code settings and install extensions
# ---------------------------------------------------------------------------


{{/* Include external functions */}}
{{ template "vscode-settings.tmpl" . }}


#################### Main Program ####################

# Stop script on error
set -eo pipefail

{{ if not (or .env.wsl .env.ephemeral) -}}

# Apply VSCode settings
apply_settings {{ .chezmoi.homeDir }}/.config/Code/User/

# Install VSCode extensions
install_extensions

{{- end }}
