
// Default layout
layout {
  pane {
    name "editor"
    command "nvim"
    args "."
    borderless true 
    focus true 
    size "80%"
  }
  pane {
    name "terminal"
    size "20%" 
    split_direction "vertical"
    borderless true
  }
  pane size=1 borderless=true split_direction="vertical"  {
    plugin location="zellij:status-bar"
  }
}
