layout {

  pane_template name="lazygit" {
    command "lazygit"
  }

  pane_template name="neovim" {
    command "fish"
    args "-c" "devc exec fish -c nvim"
  }

  pane_template name="opencode" {
    command "opencode"
    args "--continue"
  }

  pane_template name="shell" {
    command "fish"
    args "-c" "devc exec fish"
  }

  pane_template name="statusline" {
    plugin location="zjstatus"
  }

  default_tab_template { children; statusline size=1; }
  tab_template name="editor" { children; }

  editor name="editor" focus=true { neovim; }
  tab name="git" { lazygit; }
  tab name="agent" { opencode; }
  tab name="terminal" { shell; }

}
