layout {
  tab name="editor" focus=true {
    pane { plugin { location "zellij:compact-bar"; }; size 1; }
    pane { command "nvim"; focus true; }
  }
  tab name="terminal" {
    pane { plugin { location "zellij:compact-bar"; }; size 1; }
    pane { focus true; }
  }
}
