{{- /* Packages to install */ -}}
{{- $apps := (concat .packages.common.apps .packages.arch.apps) | sortAlpha | uniq -}}
{{- $tools := (concat .packages.common.tools .packages.arch.tools) | sortAlpha | uniq -}}


#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install applications and tools
# ---------------------------------------------------------------------------

{{/* Include external functions */}}
{{ template "install-rust.tmpl" . }}


#######################################
# Install packages
#######################################
function install_packages() {
    yay -Syu --noconfirm
    yay -S --needed --noconfirm {{ (concat $apps $tools) | join " " }}
}


#######################################
# Install developer tools
#######################################
function install_tools() {
    echo "Installing developer tools..."
    mise -C "${HOME}" install --yes
}


#################### Main Program ####################

# Stop script on error
set -euo pipefail

{{ if not .env.ephemeral -}}

# Install packages
install_packages

# Install Rust
install_rust

# Install developer tools
install_tools

{{- end }}

