{{- /* Packages to install */ -}}
{{- $packages := list
  "act"
  "annotator"
  "aws-cli-v2-bin"
  "bob"
  "btop"
  "buf"
  "chezmoi"
  "cmake"
  "curl"
  "eza"
  "fd"
  "fzf"
  "fvm"
  "git"
  "glow"
  "helm"
  "hurl"
  "hypridle"
  "hyprlock"
  "hyprpaper"
  "hyprshot"
  "jq"
  "just"
  "kubectl"
  "lazydocker"
  "lazygit"
  "man-db"
  "man-pages"
  "mise-bin"
  "pre-commit"
  "python-commitizen"
  "ripgrep"
  "rofi-wayland"
  "rye"
  "slides"
  "sqlc"
  "starship"
  "swaync"
  "tree"
  "tree-sitter"
  "ttf-jetbrains-mono"
  "ttf-jetbrains-mono-nerd"
  "ttf-meslo"
  "ttf-nerd-fonts-symbols-mono"
  "uv"
  "waybar"
  "wget"
  "yazi"
  "zellij"
  "zoxide"
-}}


#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install applications and tools
# ---------------------------------------------------------------------------


{{/* Include external functions */}}
{{ template "install-rust.tmpl" . }}


#################### Main Program ####################

# Stop script on error
set -eo pipefail

{{ if not .env.ephemeral -}}

# Install packages
yay -Syu
yay -S --needed --noconfirm {{ $packages | join " " }}

# Install Rust
install_rust

{{- end }}

