{{- /* Packages to install */ -}}
{{- $apps := (concat .packages.common.apps .packages.yay.apps) | sortAlpha | uniq -}}
{{- $tools := (concat .packages.common.tools .packages.yay.tools) | sortAlpha | uniq -}}


#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Install applications and tools
# ---------------------------------------------------------------------------

{{/* Include external functions */}}
{{ template "install-rust.tmpl" . }}

#################### Main Program ####################

# Stop script on error
set -eo pipefail

{{ if not .env.ephemeral -}}

# Install packages
yay -Syu
yay -S --needed --noconfirm {{ (concat $apps $tools) | join " " }}

# Install Rust
install_rust

{{- end }}

