{{- /* Default packages */ -}}
{{- $std := list "base-devel" "curl" "git" "gnupg" "unzip" "wget" -}}
{{- $aur := list "1password-cli" -}}

#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Initial machine setup
# ---------------------------------------------------------------------------

{{/* Include external functions */}}
{{ template "install-mise.tmpl" . }}
{{ template "install-opencode.tmpl" . }}
{{ template "setup-1password.tmpl" . }}
{{ template "setup-kanata.tmpl" . }}
{{ template "wezterm-definition.tmpl" . }}

#######################################
# Install Git Credential Manager
# https://github.com/git-ecosystem/git-credential-manager
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_gcm() {
  arch="linux_amd64"
  version="2.6.0"
  zip_file="gcm-$arch.$version.tar.gz"

  echo "Installing Git Credential Manager..."
  curl -L -O "https://github.com/git-ecosystem/git-credential-manager/releases/download/v$version/$zip_file"
  sudo tar -xvf "$zip_file" -C /usr/local/bin
  rm "$zip_file"

}

#######################################
# Install Shelly package manager
# https://github.com/Seafoam-Labs/Shelly-ALPM
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_shelly() {
  if command -v shelly>/dev/null 2>&1; then
    return
  fi

  sudo pacman -S --needed base-devel
  git clone https://github.com/Seafoam-Labs/Shelly-ALPM.git ./shelly
  makepkg -D shelly -si
  rm -rf shelly
}



#################### Main Program ####################

# Stop script on error
set -euo pipefail

# Install package manager
install_shelly

# Update all packages
shelly upgrade-all -n

# Install packages
{{ range $std -}}
pacman -Qq {{ . }} >/dev/null 2>&1 || shelly install -n {{ . }}
{{ end }}

# Install AUR packages
{{ range $aur -}}
pacman -Qq {{ . }} >/dev/null 2>&1 || shelly aur install -n {{ . }}
{{ end }}

{{ if not .env.ephemeral -}}

# Install Git Credential Manager
install_gcm

# Install mise-en-place
install_mise

# Install opencode
install_opencode

# WezTerm TERM definition
install_term_definition

# Install 1Password CLI
setup_1password

{{ end }}

{{ if .system.laptop }}

# Setup kanata
setup_kanata

{{ end }}
