{{- /* Default packages */ -}}
{{- $packages := list "base-devel" "curl" "git" "gnupg" "unzip" "wget" "1password-cli" -}}

#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Initial machine setup
# ---------------------------------------------------------------------------

{{/* Include external functions */}}
{{ template "install-mise.tmpl" . }}
{{ template "install-opencode.tmpl" . }}
{{ template "setup-1password.tmpl" . }}
{{ template "wezterm-definition.tmpl" . }}

#######################################
# Install Git Credential Manager
# https://github.com/git-ecosystem/git-credential-manager
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_gcm() {
  arch="linux_amd64"
  version="2.6.0"
  zip_file="gcm-$arch.$version.tar.gz"

  echo "Installing Git Credential Manager..."
  curl -L -O "https://github.com/git-ecosystem/git-credential-manager/releases/download/v$version/$zip_file"
  sudo tar -xvf "$zip_file" -C /usr/local/bin
  rm "$zip_file"

}

#######################################
# Install Paru package manager
# https://github.com/git-ecosystem/git-credential-manager
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_paru() {
  if command -v paru>/dev/null 2>&1; then
    return
  fi

  sudo pacman -S --needed base-devel
  git clone https://aur.archlinux.org/paru.git
  makepkg -D paru -si
  rm -rf paru
}


#################### Main Program ####################

# Stop script on error
set -euo pipefail

# Install package manager

# Install packages
paru -Syu --noconfirm
paru -S --needed --noconfirm {{ $packages | join " " }}

{{ if not .env.ephemeral -}}

# Install Git Credential Manager
install_gcm

# Install mise-en-place
install_mise

# Install opencode
install_opencode

# WezTerm TERM definition
install_term_definition

# Install 1Password CLI
setup_1password

{{ end }}
