#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Update packages
# ---------------------------------------------------------------------------

#######################################
# Update Arch packages via yay
# Globals:
#   APT
# Arguments:
#   None
#######################################
function update_yay_packages() {
  echo "Updating yay packages..."
  yay -Syu
  yay -Yc
}


#################### Main Program ####################

# Stop script on error
set -eo pipefail

# Update yay packages
update_yay_packages

