{{- /* Default packages */ -}}
{{- $packages := list "base-devel" "curl" "git" "gnupg" "mise" "unzip" "wget" "1password-cli" -}}

#!/usr/bin/env bash
# ---------------------------------------------------------------------------
# Initial machine setup
# ---------------------------------------------------------------------------

{{/* Include external functions */}}
{{ template "install-opencode.tmpl" . }}
{{ template "setup-1password.tmpl" . }}
{{ template "wezterm-definition.tmpl" . }}

#######################################
# Install Git Credential Manager
# https://github.com/git-ecosystem/git-credential-manager
# Globals:
#   None
# Arguments:
#   None
#######################################
function install_gcm() {
  arch="linux_amd64"
  version="2.6.0"
  zip_file="gcm-$arch.$version.tar.gz"

  echo "Installing Git Credential Manager..."
  curl -L -O "https://github.com/git-ecosystem/git-credential-manager/releases/download/v$version/$zip_file"
  sudo tar -xvf "$zip_file" -C /usr/local/bin
  rm "$zip_file"

}


#################### Main Program ####################

# Stop script on error
set -euo pipefail

# Install packages
pm={{ template "arch-pm.tmpl" . }}
$pm -Syu --noconfirm
$pm -S --needed --noconfirm {{ $packages | join " " }}

{{ if not .env.ephemeral -}}

# Install dev tools
mise install

# Install Git Credential Manager
install_gcm

# Install opencode
install_opencode

# WezTerm TERM definition
install_term_definition

# Install 1Password CLI
setup_1password

{{ end }}
