# -*-mode:gitignore-*- vim:ft=gitignore

# ~/.gitignore_global
# =============================================================================
# Used by Git to determine the files and directories to ignore globally.
#
# This list defines global exclusions to all local repositories.
# See https://git-scm.com/docs/gitignore
# =============================================================================

# environments
.mise.local.toml
.venv

# IDE specific
.idea

{{ if eq .env.os "darwin" -}}
# system files
.DS_Store
Thumbs.db
{{- end }}

