
{{- /* System specific */ -}}
{{- $devices := dict
  "dont-panic" "/dev/input/by-path/platform-i8042-serio-0-event-kbd"
  "PF4CXK6S" "/dev/input/by-path/platform-i8042-serio-0-event-kbd"
-}}
{{- $device := get $devices .chezmoi.hostname -}}

{{- if .system.laptop -}}

;;  _   __                  _
;; | | / /                 | |
;; | |/ /  __ _ _ __   __ _| |_ __ _
;; |    \ / _` | '_ \ / _` | __/ _` |
;; | |\  \ (_| | | | | (_| | || (_| |
;; \_| \_/\__,_|_| |_|\__,_|\__\__,_|
;;
;;


(defcfg
  linux-dev {{ $device }}
  process-unmapped-keys yes
)

(defsrc
  caps lalt lmet ralt rmet
)

(deflayer default
  esc  lmet lalt rmet ralt
)

{{- end -}}
